.vscode/browse.vc.db
.vscode/ipch/
.vscode/c_cpp_properties.json
.vscode/*.code-workspace
.vscode/launch.json
_backyard/
BroTracker/
!firmware/teensy/BroTracker/
build/
out/
.cache/
*.o
*.obj
*.elf
*.bin
*.hex
*.map
*.lst
